<%= form_for(@bio) do |f| %>
  <% if @bio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

      <ul>
      <% @bio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :contactemail %><br>
    <%= f.text_field :contactemail %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :fbprofile %><br>
    <%= f.text_field :fbprofile %>
  </div>
  <div class="field">
    <%= f.label :gplusprofile %><br>
    <%= f.text_field :gplusprofile %>
  </div>
  <div class="field">
    <%= f.label :twitterprofile %><br>
    <%= f.text_field :twitterprofile %>
  </div>
  <div class="field">
    <%= f.label :personalweb %><br>
    <%= f.text_field :personalweb %>
  </div>
  <div class="field">
    <%= f.label :aboutme %><br>
    <%= f.text_field :aboutme %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
