<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bio.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @bio.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @bio.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @bio.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @bio.phone %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @bio.contactemail %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @bio.picture %>
</p>

<p>
  <strong>Fbprofile:</strong>
  <%= @bio.fbprofile %>
</p>

<p>
  <strong>Gplusprofile:</strong>
  <%= @bio.gplusprofile %>
</p>

<p>
  <strong>Twitterprofile:</strong>
  <%= @bio.twitterprofile %>
</p>

<p>
  <strong>Personalweb:</strong>
  <%= @bio.personalweb %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @bio.aboutme %>
</p>

<p>
  <strong>User:</strong>
  <%= @bio.user %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
