<div class="col-md-12">
  <div class="row">
	<h2>Najnovšie projekty </h2>
     <div class="profile-body">
      <!-- first -->
      <% get4new.each do |p| %>
     	<div class="col-sm-3">
        <div class="projectborder">

     		<div class="easy-block-v1">
                    	 <% if p.pictures.present? %>
                        <%= image_tag p.pictures.first.url(:resized), :class=>"img-responsive", :height=>"120" %>
                        <% else %>
                        <img src="<%= asset_path( 'img_empty.jpg' ) %>" alt="">
                        <% end %>
                        
                        
                    
                    <div class="easy-block-v1-badge rgba-red"><%= p.category.name %></div>
              </div>
     	<div class="projects">    <div id="header" style="height:70px;">
                                <h2><a class="color-dark" href="/showproject/<%= p.id %>"><%= p.name %></a></h2>
                              </div>
                                <ul class="list-unstyled list-inline blog-info-v2">
                                    <li>Autor: <a class="color-green" href="#"><%= p.user.name %></a></li><br>
                                    <li><i class="fa fa-clock-o"></i> <%= p.enddate %></li>
                                </ul>
                                <annotation>
                                <div style="width:100%;min-height:70px;overflow:hidden;">
                                <p><%= p.annotation %></p>
                                </div>
                                </annotation>
                                <% if p.annotation.length < 90 %>
                                <div style="height:11px"></div>
                                <% end %>
                                <br>
                                <h3 class="heading-xs">Projekt zatiaľ vyzbieral <span class="pull-right"><%= projectCollectedMoneyPerc(p.id) %>%</span></h3>
                                <div class="progress progress-u progress-xxs">
                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= projectCollectedMoneyPerc(p.id) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= projectCollectedMoneyPerc(p.id) %>%">
                                    </div>
                                </div>
                                <h3 class="heading-xs">Ostáva do konca projektu <span class="pull-right"><%= daysToEnd(p.id) %> dní</span></h3>
                                <div class="progress progress-u progress-xxs">
                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= p.duration.to_i - daysToEnd(p.id) %>" aria-valuemin="0" aria-valuemax="<%= p.duration.to_i %>" style="width: <%= 100-(( daysToEnd(p.id) / p.duration.to_f)*100) %>%">
                                    </div>
                                </div>
                                <ul class="list-inline blog-info-v2">
                                    <li>
                                        <span>Zatiaľ vyzbieraných</span>
                                        <strong><%= projectCollectedMoney(p.id) %> <i class="fa fa-eur"></i></strong>
                                        
                                    </li>
                                    <li>
                                        <span>Cieľová suma</span>
                                        <strong><%= p.amount %> <i class="fa fa-eur"></i></strong>
                                        
                                    </li>
                                    <li>
                                        <span>Ostáva do konca</span>
                                        <strong><%= TotalToEnd(p.id) %> </strong>
                                        
                                    </li>
                                </ul>
                            </div> 
            </div>
          </div>
          <% end %>  
    </div>
  </div>
</div>
<hr class="devider devider-dotted"></hr>
    <!-- end of new projects -->
    <!-- most successful projects -->
   <div class="col-md-12">
    <div class="row">
    <h2>Najúspešnejšie projekty </h2>
     <div class="profile-body">
      <!-- first -->
      <% get4best.each do |p| %>
     	<div class="col-sm-3">
        <div class="projectborder">
     		<div class="easy-block-v1">
                    	 <% if p.pictures.present? %>
                        <%= image_tag p.pictures.first.url(:resized), :class=>"img-responsive", :height=>"120" %>
                        <% else %>
                        <img src="<%= asset_path( 'img_empty.jpg' ) %>" alt="">
                        <% end %>
                        
                        
                    
                    <div class="easy-block-v1-badge rgba-red"><%= p.category.name %></div>
              </div>
     	<div class="projects">
                                <div id="header" style="height:70px;">
                                <h2><a class="color-dark" href="/showproject/<%= p.id %>"><%= p.name %></a></h2>
                              </div>
                                <ul class="list-unstyled list-inline blog-info-v2">
                                    <li>Autor: <a class="color-green" href="#"><%= p.user.name %></a></li><br>
                                    <li><i class="fa fa-clock-o"></i> <%= p.enddate %></li>
                                </ul>
                                <annotation>
                                <div style="width:100%;min-height:70px;overflow:hidden;">
                                <p><%= p.annotation %></p>
                                </div>
                                </annotation>
                                 <% if p.annotation.length < 90 %>
                                <div style="height:11px"></div>
                                <% end %>
                                <br>
                                <h3 class="heading-xs">Projekt zatiaľ vyzbieral <span class="pull-right"><%= projectCollectedMoneyPerc(p.id) %>%</span></h3>
                                <div class="progress progress-u progress-xxs">
                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= projectCollectedMoneyPerc(p.id) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= projectCollectedMoneyPerc(p.id) %>%">
                                    </div>
                                </div>
                                <h3 class="heading-xs">Ostáva do konca projektu <span class="pull-right"><%= daysToEnd(p.id) %> dní</span></h3>
                                <div class="progress progress-u progress-xxs">
                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="<%= p.duration.to_i - daysToEnd(p.id) %>" aria-valuemin="0" aria-valuemax="<%= p.duration.to_i %>" style="width: <%= 100-(( daysToEnd(p.id) / p.duration.to_f)*100) %>%">
                                    </div>
                                </div>
                                <ul class="list-inline blog-info-v2">
                                    <li>
                                        <span>Zatiaľ vyzbieraných</span>
                                        <strong><%= projectCollectedMoney(p.id) %> <i class="fa fa-eur"></i></strong>
                                        
                                    </li>
                                    <li>
                                        <span>Cieľová suma</span>
                                        <strong><%= p.amount %> <i class="fa fa-eur"></i></strong>
                                        
                                    </li>
                                    <li>
                                        <span>Ostáva do konca</span>
                                        <strong><%= TotalToEnd(p.id) %> </strong>
                                        
                                    </li>
                                </ul>
                            </div> 
            </div>
          </div>
          <% end %>  
     </div>
  </div>
</div>
<script>
$('annotation').readmore({
  speed: 75,
  collapsedHeight: 60,
  moreLink: '<a href="#">Ukáž viac</a>',
  embedCSS: true,
  lessLink: '<a href="#">Schovaj</a>'
});
</script>
   <!-- end most successful projects -->

