<div class="container content profile">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
    </div>
    <div class="col-md-9">
      <div class="profile-body margin-bottom-20">
         <div class="tab-v1">
          <ul class="nav nav-justified nav-tabs">
              <li class="active"><a data-toggle="tab" href="#profile">Uprav Profil</a></li>
              <li><a data-toggle="tab" href="#passwordTab">Zmena Hesla</a></li>
          </ul>
          <div class="tab-content">
                <div id="profile" class="profile-edit tab-pane fade in active">
                </div>
                 <div id="passwordTab" class="profile-edit tab-pane fade">

                  <h2 class="heading-md">Bezpečnostné nastavenia </h2>
                        <p>Zmeň heslo</p>
                        <br>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "sky-form", method: :put }) do |f| %>
                        <%= devise_error_messages! %>
                    
                    <dl class="dl-horizontal">
                                      <dt>Registračný Email </dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope"></i>
                                                    <%= f.email_field :email, autofocus: true, :placeholder=>'Emailová adresa' %>
                                                    <!--<input type="email" placeholder="Email address" name="email">-->
                                                    <b class="tooltip tooltip-bottom-right">Potrebný ako prihlasovacie meno </b>
                                                </label>
                                            </section>
                                        </dd>
                                         <dt>Aktuálne heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f.password_field :current_password, autocomplete: "off",:placeholder => 'Aktuálne heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Nové heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Nové heslo'  %>
                                                   <!--<input type="password" id="password" name="password" placeholder="Heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Potvrď heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => 'Potvrď Heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                       
                                    </dl>

</br>
 
  <div class="actions">
    <%= f.submit "Ulož zmeny", :class=> 'btn-u' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>