<style>
.cropit-preview {
  /* You can specify preview size in CSS */
  width: 400px;
  height: 400px;
}
.hidden {
    display:none;
}
</style>
<div class="container content profile">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <% if @user.picture.url(:thumb).present? %>
      <center><%= image_tag @user.picture.url(:thumb).to_s %></center>
      <% else %>
      <center><img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt=""></center>
      <% end %>
      <br />
      <% if @user.picture.url(:thumb).present? %>
      <div class="btn-u btn-u-red btn-block" onclick="deleteimage();"><i class="fa fa-trash-o"></i> Zmaž Obrázok</div>
      <% end %>
      </br></br>
              <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                  
                    <%= link_to edit_user_registration_path, :class=>"list-group-item" do %><i class="fa fa-cog"></i><%= t('user.profilesettings')%> <%end%>
                    <%= link_to userprojects_path, :class=>"list-group-item" do %><i class="fa fa-cubes"></i><%= t('user.myprojects') %> <%end%>
                    <%= link_to userpayments_path, :class=>"list-group-item" do %><i class="fa fa-money"></i><%= t('user.mypayments') %> <%end%>
                    
                    
              </ul>
    </div>
    <div class="col-md-9">
      <div class="profile-body margin-bottom-20">
         <div class="tab-v1">
          <ul class="nav nav-justified nav-tabs">
              <li class="active"><a data-toggle="tab" href="#profile">Profil</a></li>
              <li><a data-toggle="tab" href="#passwordTab">Zmena Hesla</a></li>
              <li><a data-toggle="tab" href="#profilePicTab">Zmena Profilovej fotky</a></li>
          </ul>
          <div class="tab-content">
                <div id="profile" class="profile-edit tab-pane fade in active">
                  <h2 class="heading-md">Údaje o užívateľovi</h2>
                                <p>Ak projekt za príspevok ponúka odmenu, na adresu ktorú tu uvediete bude odoslaná.</p>
                                <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {:class => "sky-form", id: "profile_#{resource.email}_edit", namespace: "profile_#{resource.email}", method: :put }) do |f| %>
 
    
<dt>Meno </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-user"></i>
        <%= f.text_field :name, :placeholder=>'Meno užívateľa', :value=> current_user.name, html: {id: "profile_#{resource.email}_name"} %>
        <b class="tooltip tooltip-bottom-right">Toto meno bude použité v prípade zaslania odmeny </b>
        </label>
    </section>
    </dd>
<dt>Ulica </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-home"></i>
        <%= f.text_field :street, :placeholder=>'Ulica', :value=> current_user.street,html: {id: "profile_#{resource.email}_street"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
<dt>Mesto </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-map"></i>
        <%= f.text_field :city, :placeholder=>'Mesto', :value=> current_user.city, html: {id: "profile_#{resource.email}_city"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
  <dt>PSČ </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-map"></i>
        <%= f.text_field :zip, :placeholder=>'PSČ', :value=> current_user.zip, html: {id: "profile_#{resource.email}_zip"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
    <dt>Krajina </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-map"></i>
        <%= f.text_field :country, :placeholder=>'Krajina', :value=> current_user.country, html: {id: "profile_#{resource.email}_zip"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
  <dt>Telefón </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-mobile"></i>
        <%= f.text_field :phone, :placeholder=>'Telefón', :value=> current_user.phone, html: {id: "profile_#{resource.email}_phone"} %>
        <b class="tooltip tooltip-bottom-right">Pre rýchlu komunikáciu od správcu v prípade potreby </b>
        </label>
    </section>
    </dd>
  <dt>Alternatívny email </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-envelope"></i>
        <%= f.text_field :altemail, :placeholder=>'Kontaktný email', :value=> current_user.altemail, html: {id: "profile_#{resource.email}_altmail"} %>
        <b class="tooltip tooltip-bottom-right">Zmeňte ak chcete byt kontaktovaný na iný email, než ste použili pri registrácii </b>
        </label>
    </section>
    </dd>
  <dt>FB Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-facebook"></i>
        <%= f.text_field :fbprofile, :placeholder=>'Facebook profil', :value=> current_user.fbprofile, html: {id: "profile_#{resource.email}_fb"} %>
        <b class="tooltip tooltip-bottom-right">Facebook profil </b>
        </label>
    </section>
    </dd>
  <dt>Google+ Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-google-plus"></i>
        <%= f.text_field :gplusprofile, :placeholder=>'Google+ profil', :value=> current_user.gplusprofile, html: {id: "profile_#{resource.email}_gplus"} %>
        <b class="tooltip tooltip-bottom-right">Google+ profil </b>
        </label>
    </section>
    </dd>
  <dt>Twitter Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-twitter"></i>
        <%= f.text_field :twitterprofile, :placeholder=>'Twitter profil', :value=> current_user.twitterprofile,html: {id: "profile_#{resource.email}_twitter"} %>
        <b class="tooltip tooltip-bottom-right">Twitter profil </b>
        </label>
    </section>
    </dd>
  <dt>Môj web </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-link"></i>
        <%= f.text_field :personalweb, :placeholder=>'Môj web', :value=> current_user.personalweb, html: {id: "profile_#{resource.email}_web"} %>
        <b class="tooltip tooltip-bottom-right">Môj web </b>
        </label>
    </section>
    </dd>
  <dt>O mne </dt>
    <dd>
     <section>
        <label class="textarea">
        <%= f.text_area :aboutme, :placeholder=>'O mne', :value=> current_user.aboutme,html: {id: "profile_#{resource.email}_aboutme"} %>
        <b class="tooltip tooltip-bottom-right">O mne </b>
        </label>
    </section>
    </dd>
   </br>
 
  <div class="actions">
    <%= f.submit "Ulož zmeny", :class=> 'btn-u' %>
  </div>
<% end %>                             
                                
                            
                </div>
                 <div id="passwordTab" class="profile-edit tab-pane fade">

                  <h2 class="heading-md">Bezpečnostné nastavenia </h2>
                        <p>Zmeň heslo</p>
                        <br>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "sky-form", method: :put }) do |f2| %>
                        <%= devise_error_messages! %>
                    
                    <dl class="dl-horizontal">
                                      <dt>Registračný Email </dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope"></i>
                                                    <%= f2.email_field :email, autofocus: true, :placeholder=>'Emailová adresa' %>
                                                    <!--<input type="email" placeholder="Email address" name="email">-->
                                                    <b class="tooltip tooltip-bottom-right">Potrebný ako prihlasovacie meno </b>
                                                </label>
                                            </section>
                                        </dd>
                                         <dt>Aktuálne heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :current_password, autocomplete: "off",:placeholder => 'Aktuálne heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Nové heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :password, autocomplete: "off", :placeholder => 'Nové heslo'  %>
                                                   <!--<input type="password" id="password" name="password" placeholder="Heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Potvrď heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :password_confirmation, autocomplete: "off",:placeholder => 'Potvrď Heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                       
                                    </dl>

</br>
 
  <div class="actions">
    <%= f2.submit "Ulož zmeny", :class=> 'btn-u' %>
  </div>
<% end %>
</br>
<hr class="devider devider-db"></hr>
<h3 class="heading-md">Zrušenie účtu</h3>

<%= button_to "Naozaj chcem zrušiť účet", registration_path(resource_name), data: { confirm: "Si si istý? Všetky údaje budú zmazané bez možnosti obnovy." },:class=>'btn-u btn-u-red', method: :delete %>

<!--<%= link_to "Back", :back %>-->

              </div>
               <div id="profilePicTab" class="profile-edit tab-pane fade">
                <div class ="alert alert-danger fade in alert-dismissable"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>Profilová fotka musí mať rozmery aspoň 400x400 aby ju bolo možné vložiť. </div>
                 <div id="image-cropper" align="center">
                            
                             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
                          <div class="cropit-preview" id="cropit-preview"></div>
                          <div class="rotation-btns"><span class="icon icon-rotate-left rotate-ccw-btn"><i class="fa fa-arrow-left"></i>
                        </span><span class="icon icon-rotate-right rotate-cw-btn"><i class="fa fa-arrow-right"></i>
                        </span></div>
                          <input type="range" class="cropit-image-zoom-input " />
                          <%= f.file_field :picture, accept: "image/jpeg, image/jpg, image/gif, image/png", :class=> "cropit-image-input hidden" %> 
                      
                         <div class="btn-u btn-u-yellow" id="uploadTrigger"><i class="fa fa-upload"></i> Vyber Obrázok</div>
                         <%= button_tag :class=>'btn-u', :onclick=>"getimage()",:type => 'button' do %>
                         <i class="fa fa-check"></i>  Potvrď <% end %>
                            <% end %>
                        
                      
                        </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 $("#uploadTrigger").click(function(){
   $("#user_picture").click();
        });

  
    $('#image-cropper').cropit({
        imageState: {src: <% if @user.picture.url(:resized).present? %> "<%= @user.picture.url(:resized).to_s %>" <% else %> "<%= asset_path( 'user-avatar-big.png' ) %>" <% end %> }});

        // When user clicks select image button,
        // open select file dialog programmatically
        $('.select-image-btn').click(function() {
          $('.cropit-image-input').click();
        });

        // Handle rotation
        $('.rotate-cw-btn').click(function() {
          $('#image-cropper').cropit('rotateCW');
        });
        $('.rotate-ccw-btn').click(function() {
          $('#image-cropper').cropit('rotateCCW');
        });

         function getimage(){
        var $cropedimage = $('#image-cropper').cropit('export', {
              type: 'image/jpeg',
              quality: .9,
              originalSize: true
            });
        

        function dataURItoBlob(dataURI) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1]);
    else
        byteString = unescape(dataURI.split(',')[1]);

    // separate out the mime component
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
}

    var filedata=dataURItoBlob($cropedimage);


        var fd = new FormData();
        fd.append('data', filedata, "user" + <%= @user.id %> + "profile-pic.jpg" );
        fd.append('id', <%= @user.id %>);
           $.ajax({
                    type: "POST",
                    url: "/saveuserpic",
                    data: fd,
                    processData: false,
                    contentType: false,
                    cache: false                   
                        })
                    .done(function (msg) {
                    alert("Obrázok bol nahratý na server" );
                    location.reload();
                     });
            };

      function deleteimage(){

      var c = confirm("Naozaj chceš zmazať svoju profilovú fotku?");
      if (c) {
        var fd = new FormData();
        fd.append('id', <%= @user.id %>);

          $.ajax({
                    type: "POST",
                    url: "/deluserpic",
                    data: fd,
                    processData: false,
                    contentType: false,
                    cache: false                   
                        })
                    .done(function (msg) {
                    alert("Obrázok bol zmazaný" );
                    location.reload();
                     });
                  }

            };

       

</script>