<div class="container content profile">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <% if @user.picture.url(:resized).present? %>
      <%= image_tag @user.picture.url(:resized).to_s %>
      <% else %>
      <img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt="">
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="profile-body margin-bottom-20">
         <div class="tab-v1">
          <ul class="nav nav-justified nav-tabs">
              <li class="active"><a data-toggle="tab" href="#profile">Profil</a></li>
              <li><a data-toggle="tab" href="#passwordTab">Zmena Hesla</a></li>
          </ul>
          <div class="tab-content">
                <div id="profile" class="profile-edit tab-pane fade in active">
                  <h2 class="heading-md">Údaje o užívateľovi</h2>
                                <p>Ak projekt za príspevok ponúka odmenu, na adresu ktorú tu uvediete bude odoslaná.</p>
                                <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: {:class => "sky-form", id: "profile_#{resource.email}_edit", namespace: "profile_#{resource.email}", method: :put }) do |f| %>
 
    <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, html: {id: "profile_#{resource.email}_pic"} %>
  </div>
<dt>Meno </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-user"></i>
        <%= f.text_field :name, :placeholder=>'Meno užívateľa', :value=> current_user.name, html: {id: "profile_#{resource.email}_name"} %>
        <b class="tooltip tooltip-bottom-right">Toto meno bude použité v prípade zaslania odmeny </b>
        </label>
    </section>
    </dd>
<dt>Ulica </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-home"></i>
        <%= f.text_field :street, :placeholder=>'Ulica', :value=> current_user.street,html: {id: "profile_#{resource.email}_street"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
<dt>Mesto </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-map"></i>
        <%= f.text_field :city, :placeholder=>'Mesto', :value=> current_user.city, html: {id: "profile_#{resource.email}_city"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
  <dt>PSČ </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-map"></i>
        <%= f.text_field :zip, :placeholder=>'PSČ', :value=> current_user.zip, html: {id: "profile_#{resource.email}_zip"} %>
        <b class="tooltip tooltip-bottom-right">Na túto adresu bude zaslaná prípadná odmena </b>
        </label>
    </section>
    </dd>
  <dt>Telefón </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-mobile"></i>
        <%= f.text_field :phone, :placeholder=>'Telefón', :value=> current_user.phone, html: {id: "profile_#{resource.email}_phone"} %>
        <b class="tooltip tooltip-bottom-right">Pre rýchlu komunikáciu od správcu v prípade potreby </b>
        </label>
    </section>
    </dd>
  <dt>Alternatívny email </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-envelope"></i>
        <%= f.text_field :altemail, :placeholder=>'Kontaktný email', :value=> current_user.altemail, html: {id: "profile_#{resource.email}_altmail"} %>
        <b class="tooltip tooltip-bottom-right">Zmeňte ak chcete byt kontaktovaný na iný email, než ste použili pri registrácii </b>
        </label>
    </section>
    </dd>
  <dt>FB Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-facebook"></i>
        <%= f.text_field :fbprofile, :placeholder=>'Facebook profil', :value=> current_user.fbprofile, html: {id: "profile_#{resource.email}_fb"} %>
        <b class="tooltip tooltip-bottom-right">Facebook profil </b>
        </label>
    </section>
    </dd>
  <dt>Google+ Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-google-plus"></i>
        <%= f.text_field :gplusprofile, :placeholder=>'Google+ profil', :value=> current_user.gplusprofile, html: {id: "profile_#{resource.email}_gplus"} %>
        <b class="tooltip tooltip-bottom-right">Google+ profil </b>
        </label>
    </section>
    </dd>
  <dt>Twitter Profil </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-twitter"></i>
        <%= f.text_field :twitterprofile, :placeholder=>'Twitter profil', :value=> current_user.twitterprofile,html: {id: "profile_#{resource.email}_twitter"} %>
        <b class="tooltip tooltip-bottom-right">Twitter profil </b>
        </label>
    </section>
    </dd>
  <dt>Môj web </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-link"></i>
        <%= f.text_field :personalweb, :placeholder=>'Môj web', :value=> current_user.personalweb, html: {id: "profile_#{resource.email}_web"} %>
        <b class="tooltip tooltip-bottom-right">Môj web </b>
        </label>
    </section>
    </dd>
  <dt>O mne </dt>
    <dd>
     <section>
        <label class="input">
        <i class="icon-append fa fa-user-plus"></i>
        <%= f.text_field :aboutme, :placeholder=>'O mne', :value=> current_user.aboutme,html: {id: "profile_#{resource.email}_aboutme"} %>
        <b class="tooltip tooltip-bottom-right">O mne </b>
        </label>
    </section>
    </dd>
   </br>
 
  <div class="actions">
    <%= f.submit "Ulož zmeny", :class=> 'btn-u' %>
  </div>
<% end %>                             
                                
                            
                </div>
                 <div id="passwordTab" class="profile-edit tab-pane fade">

                  <h2 class="heading-md">Bezpečnostné nastavenia </h2>
                        <p>Zmeň heslo</p>
                        <br>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "sky-form", method: :put }) do |f2| %>
                        <%= devise_error_messages! %>
                    
                    <dl class="dl-horizontal">
                                      <dt>Registračný Email </dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope"></i>
                                                    <%= f2.email_field :email, autofocus: true, :placeholder=>'Emailová adresa' %>
                                                    <!--<input type="email" placeholder="Email address" name="email">-->
                                                    <b class="tooltip tooltip-bottom-right">Potrebný ako prihlasovacie meno </b>
                                                </label>
                                            </section>
                                        </dd>
                                         <dt>Aktuálne heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :current_password, autocomplete: "off",:placeholder => 'Aktuálne heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Nové heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :password, autocomplete: "off", :placeholder => 'Nové heslo'  %>
                                                   <!--<input type="password" id="password" name="password" placeholder="Heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                        <dt>Potvrď heslo</dt>
                                        <dd>
                                            <section>
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    <%= f2.password_field :password_confirmation, autocomplete: "off",:placeholder => 'Potvrď Heslo'  %>
                                                   <!-- <input type="password" name="passwordConfirm" placeholder="Potvrď heslo">-->
                                                    <b class="tooltip tooltip-bottom-right">Nezabudni svoje heslo</b>
                                                </label>
                                            </section>
                                        </dd>
                                       
                                    </dl>

</br>
 
  <div class="actions">
    <%= f2.submit "Ulož zmeny", :class=> 'btn-u' %>
  </div>
<% end %>
</br>
<hr class="devider devider-db"></hr>
<h3 class="heading-md">Zrušenie účtu</h3>

<%= button_to "Naozaj chcem zrušiť účet", registration_path(resource_name), data: { confirm: "Si si istý? Všetky údaje budú zmazané bez možnosti obnovy." },:class=>'btn-u btn-u-red', method: :delete %>

<!--<%= link_to "Back", :back %>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>