<%= form_for(@reward, html: {:class => "sky-form"}) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12" style="height:150px;">
    </div>
  <div class="col-md-3">
  </div>

<div class="col-md-6" style="height:450px;">
  <h2><%= t('rewards.title') %></h2>
</br>
<dd>
     <section>
         <label class="input">
              <%= f.text_field :name, :placeholder=>t('rewards.name') %>
              <b class="tooltip tooltip-bottom-right"><%= t('rewards.selectnamemsg') %> </b>
        </label>
        </section>
   </dd>
   <dd>
     <section>
         <label class="input">
              <%= f.text_field :about, :placeholder=>t('rewards.about') %>
              <b class="tooltip tooltip-bottom-right"><%= t('rewards.contentmsg') %> </b>
        </label>
        </section>
   </dd>
  <dd>
     <section>
         <label class="input">
              <%= f.number_field :amount, :placeholder=>t('rewards.amount') %>
              <b class="tooltip tooltip-bottom-right"><%= t('rewards.amountmsg') %> </b>
        </label>
        </section>
   </dd> 
   <%= f.hidden_field :project_id, :value => params[:project_id] %>
  
  <div class="actions">
    <%= f.submit t('rewards.create'), :class=> 'btn-u' %>
    <%= link_to t('basic.back'),:back, :class=> 'btn-u btn-u-red' %>
  </div>
<% end %>
</div>

</br>
</br>