<%= form_for(@reward, html: {:class => "sky-form"}) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12" style="height:150px;">
    </div>
  <div class="col-md-3">
  </div>

<div class="col-md-6" style="height:450px;">
  <h2>Odmeny za príspevok</h2>
</br>
<dd>
     <section>
         <label class="input">
              <%= f.text_field :name, :placeholder=>'Názov odmeny' %>
              <b class="tooltip tooltip-bottom-right">Urči názov tejto odmeny </b>
        </label>
        </section>
   </dd>
   <dd>
     <section>
         <label class="input">
              <%= f.text_field :about, :placeholder=>'Čo odmena obsahuje' %>
              <b class="tooltip tooltip-bottom-right">Čo dostane prispievateľ za investovanú sumu? </b>
        </label>
        </section>
   </dd>
  <dd>
     <section>
         <label class="input">
              <%= f.number_field :amount, :placeholder=>'Hodnota odmeny' %>
              <b class="tooltip tooltip-bottom-right">Koľko je nutné investovať za túto odmenu? </b>
        </label>
        </section>
   </dd> 
   <%= f.hidden_field :project_id, :value => params[:project_id] %>
  
  <div class="actions">
    <%= f.submit "Vytvor odmenu", :class=> 'btn-u' %>
    <%= link_to "Späť",:back, :class=> 'btn-u btn-u-red' %>
  </div>
<% end %>
</div>

</br>
</br>