<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Názov odmeny" %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :about, "Čo odmena obsahuje" %><br>
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.label :amount, "Hodnota odmeny" %><br>
    <%= f.number_field :amount %>
  </div>
    <%= f.hidden_field :project_id, :value => params[:project_id] %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
