

<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" >

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class=>'reg-page', :style=>"padding-bottom:60px" }) do |f| %>
  <%= devise_error_messages! %>

   <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <%= f.email_field :email, autofocus: true, :class=>'form-control' %>
  </div>

  
  	<div class="col-md-6" >
    <%= f.submit "Pošli inštrukcie na reset hesla", :class=> 'btn-u' %>

  </div>
<% end %>
</div> </div>

<!--<%= render "devise/shared/links" %>-->
