<% if current_user.admin? %>

<div class="row">
  <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-5">
                              
                                <% if @project.profile_pic.present? %>
                                <%= image_tag @project.profile_pic.url(:resized).to_s, :style=>"width:400px;height:253px;" %>
                                <% else %>
                                <img src="<%= asset_path( 'img_empty_800.jpg' ) %>" alt="", style="width:400px;height:253px;">
                                <% end %>
                            
                          </div>
                            <div class="col-md-7">
                                <h2><%= @project.name %></h2>
                                <span><strong><%= t('project.targetamount') %>:</strong> <%= @project.amount %></span>
                                <span><strong><%= t('project.collectedamount') %>:</strong> <%= collected(@project.id) %></span>
                                <p><strong><%= t('project.countsupporters') %>:</strong> <%= payment_count(@project.id) %></p>
                                <span><strong><%= t('project.status') %>: </strong><span style="font-size:18px;color:red"><% if is_success(@project.id) %><%= t('project.success') %><% else %><%= t('project.nosuccess') %><% end %></span></span>
                                <hr>
                                <p><%= @project.annotation %></p>
                                
                            </div>
                        </div>
                    </div><!--/end row-->
</div>
<div class="row">
<div class="panel panel-sea margin-bottom-40">
   <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> <%= t('project.detailssuccess') %></h3>
    </div>
  
    <table id="finisheddetail" class="table table-striped table-bordered table-hover dataTable">
  <thead>
    <tr>
      <th><%= t('payments.new.supporter') %></th>
      <th><%= t('user.address') %></th>
      <th><%= t('payments.invoice.VS') %></th>
      <th><%= t('payments.invoice.amount') %></th>
      <th><%= t('payments.invoice.reward') %></th>
    </tr>
  </thead>

  <tbody>
    
    <% payments_detail(@project.id).each do |p| %>
      <tr>
        <td><%= p.user.email %></td>
        <td><%= p.user.street %>, <%= p.user.city %>, <%= p.user.zip %>, <%= p.user.country %> </td>
        <td><%= p.created_at.strftime("%Y") %><%= p.id %></td>
        <td><%= p.amount %></td>
        <td><% if p.reward.present? %><%= p.reward.name %><% else %><%= t('payments.invoice.noreward') %><% end %></td>
        
      </tr>
    <% end %>
  </tbody>
  
</table>

</div>

<br>
</div>

  <% else %>
    <% controller.redirect_to root_path %>
  <% end %>