<div class="row" >
  <center><h1> <%= t('project.startnew') %> </h1></center>
<%= form_for(@project, html: {:class => "sky-form"}, validate: true) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12" style="height:150px;">
     </div>
  <div class="col-md-3" >
  </div>
  <div class="col-md-6" style="height:450px;">
  <label class="input">
              <%= f.text_field :name, :placeholder=> t('project.projectname') ,:required => true %>
              <b class="tooltip tooltip-bottom-right"><%= t('project.choosenamemsg') %> </b>
        </label>
    <label class="select">
      <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
      <% if I18n.locale == :en && category_locale_exists('en') == 0 %>
  <%= f.select :category_id, Category.all.collect { |p| [ p.name_en, p.id ] }, {include_blank: t('project.choosecategory')}, {:class => 'form-control m-b', :required => true} %>
   <% elsif I18n.locale == :cs && category_locale_exists('cs')== 0 %>
   <%= f.select :category_id, Category.all.collect { |p| [ p.name_cs, p.id ] }, {include_blank: t('project.choosecategory')}, {:class => 'form-control m-b', :required => true} %>
   <% elsif I18n.locale == :pl && category_locale_exists('pl') == 0 %>
   <%= f.select :category_id, Category.all.collect { |p| [ p.name_pl, p.id ] }, {include_blank: t('project.choosecategory')},{:class => 'form-control m-b', :required => true} %>
   <% elsif I18n.locale == :hu && category_locale_exists('hu') == 0 %>
   <%= f.select :category_id, Category.all.collect { |p| [ p.name_hu, p.id ] }, {include_blank: t('project.choosecategory')}, {:class => 'form-control m-b', :required => true} %>
   <% else %>
  <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, {include_blank: t('project.choosecategory')}, {:class => 'form-control m-b', :required => true} %>
  <% end %>

  
      </label>

      <label class="input">
              <i class="icon-append fa fa-eur"></i>
              <%= f.number_field :amount, :placeholder=>t('project.targetamount'),:required => true, :style=>"-moz-appearance:textfield;" %>
              <b class="tooltip tooltip-bottom-right"><%= t('project.choosetargetamount') %> </b>
       </label>

       <label class="label"><%= t('project.howlong') %></label>
     
              <label class="radio"><%= f.radio_button :duration, "30", :type=>'radio', :checked => 'checked' %><i class="rounded-x"></i> 30 <%= t('datetime.prompts.days') %></label>
              <label class="radio"><%= f.radio_button :duration, "60", :type=>'radio'  %><i class="rounded-x"></i> 60 <%= t('datetime.prompts.days') %></label>
              <label class="radio"><%= f.radio_button :duration, "90", :type=>'radio' %><i class="rounded-x"></i> 90 <%= t('datetime.prompts.days') %></label>

<div class="control-group">
 <div class="actions">
    <center><%= f.submit t('project.continue'), :class=> 'btn-u' %></center>
    
  </div>
<% end %>
</div>
</div>

</div>



<!--<%= link_to 'Späť', projects_path %>-->
