    <% if @project.enabled? %>
    <div class="job-description">
        <div class="row">
           
                <!-- Left Inner -->
                <div class="col-md-9">
                    <div class="left-inner">
                        <div class="row ">
                            <h1 ><%= @project.name %></h1>
                            <br />
                        </div>
                        <div class="row " >
                        <% if @project.profile_pic.present? %>
                        <%= image_tag @project.profile_pic.url(:resized).to_s, :style=>"width:100%; max-width:800px" %>
                        <% else %>
                        <img src="<%= asset_path( 'img_empty_800.jpg' ) %>" alt="">
                        <% end %>
                        </div>
                            

                         <div class="tab-v1">
                              <ul class="nav nav-justified nav-tabs">
                                  <li class="active"><a data-toggle="tab" href="#tababout"><%= t('project.aboutproject') %></a></li>
                                  <li><a data-toggle="tab" href="#tabgallery"><%= t('project.gallery') %></a></li>
                                  <li><a data-toggle="tab" href="#tabrewards"><%= t('project.rewards') %></a></li>
                                  <li><a data-toggle="tab" href="#tabsupporters"><%= t('project.supporters') %></a></li>
                              </ul>
                              <div class="tab-content">
                                    <div id="tababout" class="profile-edit tab-pane fade in active">
                                        
                                        <div class="row gallery projectborder borderpadding">
                                        <h4><%= t('project.projectdetails') %></h4>
                                        <p><%= raw @project.about %></p>
                                        </div>
                            </div>
                        <div id="tabgallery" class="profile-edit tab-pane fade">
                                                
                    <div class="row projectborder borderpadding">
                    <h4><%= t('project.gallery') %></h4>
                        <% @project.pictures.each_slice(2) do |slice_of_two| %>
                       <div class="col-md-12">
                        <% slice_of_two.each_with_index do |pic, index| %>
                        <div class="col-md-6 picgal">
                        <%= link_to image_tag(pic.url(:resized).to_s), pic.url,class: :fancybox %>
                        </div>
                        <% end %>
                        </div>
                        <% end %>
                        </div>
                    </div>

                    <div id="tabsupporters" class="profile-edit tab-pane fade">
                        <br />
                        <% if @project.payments.any? %>
                        <% @project.payments.where('confirmed = true').each do |pay| %>
                        <div class="people-say margin-bottom-20">
                                <% if pay.user.name? %>
                                <span><%= pay.user.name %></span>
                                <% else %>
                                <span><%= t('project.anonym') %></span>
                                <% end %>
                                <span class="hex pull-right" style="padding-right:3px"><%= t('project.donated') %>: <%= pay.amount %> <i class="fa fa-eur"></i></span>
                            
                        </div>
                        <hr>
                        <% end %>
                        <% end %>
                    </div>
                    <div id="tabrewards" class="profile-edit tab-pane fade">
                        
                        <% if @project.rewards.any? %>
                        <% @project.rewards.order(:amount).each do |p| %>
                        <div class="people-say margin-bottom-20">
                            <div class="overflow-h">
                                <span><%= p.name %></span>
                                <span class="hex pull-right" style="padding-right:3px"><%= t('project.value') %>: <%= p.amount %> <i class="fa fa-eur"></i></span>
                                <p><%= p.about %></p>
                            </div>
                            <hr>
                        </div>
                        <% end %>
                        
                        <% else %>
                        <p> <%= t('project.norewards') %> </p>
                        <% end %>
                    </div>
                </div>
                    </div>
                </div>
            </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                <div class="col-md-3">
                    <div class="right-inner">
                        <div class="row">
                            <h1 style="color:white"><%= t('project.details') %></h1>
                            <br />
                        </div>
                    	<div class="row">
                         
                        <div class="row pie-progress-charts">
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circle-1"></div>
                            <h3 class="circle-title" ><%= t('project.completed') %></h3>
                            
                        </div>
                        </div>
                        <h3 style="margin-left:25px"><%= projectCollectedMoney(@project.id) %> <i class="fa fa-eur"></i></h3>
                        <p style="margin-left:25px">z <%= @project.amount %> <i class="fa fa-eur"></i></p>
                        <br />
                        <h3 style="margin-left:25px; margin-top:-25px;"><%= daysToEnd(@project.id) %> <%= t('datetime.prompts.days') %></h3>
                        <p style="margin-left:25px"><%= t('project.totheend') %></p>
                        <br />
                        <h3 style="margin-left:25px; margin-top:-25px;"><%= countSupporters(@project.id) %></h3>
                        <p style="margin-left:25px"><%= t('project.countsup') %></p>
                        <% if @project.enddate > Time.now %>
                        <!--<%= link_to " Podpor projekt", new_payment_path(:project_id=>@project.id), :class=>"btn-u btn-block fa fa-eur" %>-->
                        <%= link_to selectreward_path, :class=>"btn-u btn-block" do %><i class="fa fa-eur"></i>  <%= t('project.support') %> <% end %>
                        <% end %>
                        <br />
                        </div>
                        <div class="row" style="margin-top:60px">
                            
                        <% if @project.user.picture.url(:thumb).present? %>
                                <%= image_tag @project.user.picture.url(:thumb).to_s, :style=>"width:100px" %>
                            <% else %>
                                <img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt="">
                        <% end %>
                            
                       
                        <div class="overflow-h">
                            <span>Autor: <%= @project.user.name %></span>

                            <p class="color-green"><span class="hex"><%=raw %(#{link_to(@project.user.personalweb, url_with_protocol(@project.user.personalweb), :target => '_blank')}) %></span></p>
                           <p><span class="hex"><%= countUserProjects(@project.user_id) %> <%= t('project.projects') %></span></p>
                        </div>
                         </div>
                        <div class="row">
                        <hr>

                        <ul class="list-unstyled save-job">
                            <li><i class="fa fa-eye"></i> <a href="/listup/<%= @project.user.id %>"><%= t('project.lookother') %></a></li>
                            
                        </ul>

                        <hr>
                        </div>
                         
                        
                        
                        

                    </div>
                </div>
                <!-- End Right Inner -->
            </div>
        </div>
    </div>
    <script>
    Circles.create({
                id:         'circle-1',
                percentage: <% if projectCollectedMoneyPerc(@project.id) > 100 %> 100 <% else %><%= projectCollectedMoneyPerc(@project.id) %><% end %>,
                radius:     80,
                width:      8,
                maxValue:  100, 
                number:     <%= projectCollectedMoneyPerc(@project.id) %>,
                text:       '%',
                colors:     ['#eee', '#F1C40F'],
                duration:   2000
            })
    </script>

<% else %>
<% controller.redirect_to root_path %>
<% end %>
