    <% if @project.enabled? %>
    <div class="job-description">
        <div class="row">
           
                <!-- Left Inner -->
                <div class="col-md-9">
                    <div class="left-inner">
                        <div class="row">
                            <h1 ><%= @project.name %></h1>
                            <br />
                        </div>
                        <div class="row">
                        <% if @project.profile_pic.present? %>
                        <%= image_tag @project.profile_pic.url(:resized).to_s, size: "800" %>
                        <% else %>
                        <img src="<%= asset_path( 'img_empty_800.jpg' ) %>" alt="">
                        <% end %>
                        </div>
                        <div class="row">
                            <p><%= @project.annotation %></p>
                        </div>
                        <div class="row gallery">
                        <h4>Detailne o projekte</h4>
                        <p><%= raw @project.about %></p>
                        </div>

                       
                        </div>
                                                
                    <div class="row gallery">
                    <h4>Galéria ku projektu</h4>
                        <% @project.pictures.each_with_index do |pic, index| %>
                        <%= link_to image_tag(pic.url(:resized).to_s), pic.url %>
                        <% end %>
                        </div>
               
            </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                <div class="col-md-3">
                    <div class="right-inner">
                        <div class="row">
                            <h1 style="color:white">Detaily</h1>
                            <br />
                        </div>
                    	<div class="row">
                         
                        <div class="row pie-progress-charts">
                        <div class="inner-pchart col-md-3">
                            <div class="circle" id="circle-1"></div>
                            <h3 class="circle-title" >Splnených</h3>
                            
                        </div>
                        </div>
                        <h3 style="margin-left:25px"><%= projectCollectedMoney(@project.id) %> <i class="fa fa-eur"></i></h3>
                        <p style="margin-left:25px">z <%= @project.amount %> <i class="fa fa-eur"></i></p>
                        <br />
                        <h3 style="margin-left:25px; margin-top:-25px;"><%= daysToEnd(@project.id) %> dní</h3>
                        <p style="margin-left:25px">do konca</p>
                        <br />
                        <h3 style="margin-left:25px; margin-top:-25px;"><%= countSupporters(@project.id) %></h3>
                        <p style="margin-left:25px">prispievateľov</p>
                        <% if @project.enddate > Time.now %>
                        <%= link_to " Podpor projekt", new_payment_path(:project_id=>@project.id), :class=>"btn-u btn-block fa fa-eur" %>
                        <% end %>
                        <br />
                        </div>
                        <div class="row" style="margin-top:60px">
                        <% if @project.user.picture.url(:resized).present? %>
                                <%= image_tag @project.user.picture.url(:resized).to_s, :style=>"width:120px" %>
                            <% else %>
                                <img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt="">
                        <% end %>
                        <div class="overflow-h">
                            <span><%= @project.user.name %></span>

                            <p class="color-green"><span class="hex"><%=raw %(#{link_to(@project.user.personalweb, url_with_protocol(@project.user.personalweb), :target => '_blank')}) %></span></p>
                           <p><span class="hex"><%= countUserProjects(@project.user_id) %> projektov</span></p>
                        </div>

                        <hr>

                        <ul class="list-unstyled save-job">
                            <li><i class="fa fa-eye"></i> <a href="#">Pozri autorove dalsie projekty</a></li>
                            <li><i class="fa fa-plus"></i> <a href="#">Sleduj projekt</a></li>
                        </ul>

                        <hr>
                        
                         
                        <h4>Odmeny</h4>
                        <% if @project.rewards.any? %>
                        <% @project.rewards.each do |p| %>
                        <div class="people-say margin-bottom-20">
                            <div class="overflow-h">
                                <span><%= p.name %></span>
                                <span class="hex pull-right" style="padding-right:3px">hodnota: <%= p.amount %> <i class="fa fa-eur"></i></span>
                                <p><%= p.about %></p>
                            </div>
                        </div>
                        <% end %>
                        
                        <% else %>
                        <p> Projekt nemá žiadne odmeny </p>
                        <% end %>
                        <hr>
                        <h4>Darcovia</h4>
                        <% if @project.payments.any? %>
                        <% @project.payments.where('confirmed = true').each do |pay| %>
                        <div class="people-say margin-bottom-20">
                                <% if pay.user.name? %>
                                <span><%= pay.user.name %></span>
                                <% else %>
                                <span>Anonym</span>
                                <% end %>
                                <span class="hex pull-right" style="padding-right:3px">prispel: <%= pay.amount %> <i class="fa fa-eur"></i></span>
                            
                        </div>
                        <% end %>
                        <% end %>

                    </div>
                </div>
                <!-- End Right Inner -->
            </div>
        </div>
    </div>
    <script>
    Circles.create({
                id:         'circle-1',
                percentage: <% if projectCollectedMoneyPerc(@project.id) > 100 %> 100 <% else %><%= projectCollectedMoneyPerc(@project.id) %><% end %>,
                radius:     80,
                width:      8,
                maxValue:  100, 
                number:     <%= projectCollectedMoneyPerc(@project.id) %>,
                text:       '%',
                colors:     ['#eee', '#F1C40F'],
                duration:   2000
            })
    </script>

<% else %>
<% controller.redirect_to root_path %>
<% end %>
