    <div class="job-description">
        <div class="container content">
           <div class="row">
                <!-- Left Inner -->
                <div class="col-md-7">
                    <div class="left-inner">
                        <% if @project.pictures.present? %>
                        <%= image_tag @project.pictures.first.url, size: "180", :style=>"max-height: 100px" %>
                        <% else %>
                        <img src="<%= asset_path( 'thumbnail-default.jpg' ) %>" alt="">
                        
                        <% end %>
                        <h3><%= @project.name %></h3>
                        <p class="hex">Cieľová suma: <%= @project.amount %></p>
                        <p class="hex">Trvanie projektu: <%= @project.duration %></p>
                        <p class="hex">Kategória: <%= @project.category.name %></p>
                        <hr>

                        <div class="progression">
                            <span>Vyzbieraných</span>
                            <div class="progress progress-u progress-xs">
                                <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
                                </div>
                            </div>

                            <span>Ostáva do konca</span>
                            <div class="progress progress-u progress-xs">
                                <div style="width: 76%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" role="progressbar" class="progress-bar progress-bar-u">
                                </div>
                            </div>
                          
                        </div>

                        <hr>

                        <h2>Sumár projektu</h2>
                        <p><%= @project.annotation %></p>

                        <hr>

                        <h2>Detailne o projekte</h2>
                        <p><%= @project.about %></p>
                        

                        <hr>
                    </div>    
                    <div>
                    <h2>Galéria ku projektu</h2>
                        <% @project.pictures.each_with_index do |pic, index| %>
                        <%= link_to image_tag(pic.url(:resized).to_s), pic.url, class: "fancybox" %>
                        <% end %>
                        </div>
                    	</br>
                        <hr>

                    
                </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                <div class="col-md-5">
                    <div class="right-inner">
                    	
                        <h3>Autor projektu</h3>
                        <% if @project.user.picture.url(:resized).present? %>
      							<%= image_tag @project.user.picture.url(:resized).to_s %>
      						<% else %>
      							<img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt="">
      					<% end %>
                        <div class="overflow-h">
                            <span class="font-s"><%= @project.user.name %></span>

                            <p class="color-green"><span class="hex"><%=raw %(#{link_to(@project.user.personalweb, url_with_protocol(@project.user.personalweb), :target => '_blank')}) %></span></p>
                            <ul class="social-icons">
                                <li><a class="social_facebook" data-original-title="Facebook" href="#"></a></li>
                                <li><a class="social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                                <li><a class="social_twitter" data-original-title="Twitter" href="#"></a></li>
                            </ul>
                        </div>

                        <hr>

                        <ul class="list-unstyled save-job">
                            <li><i class="fa fa-eye"></i> <a href="#">Pozri autorove dalsie projekty</a></li>
                            <li><i class="fa fa-plus"></i> <a href="#">Sleduj projekt</a></li>
                        </ul>

                        <hr>
                	
                		<%= link_to "Podpor projekt", new_payment_path(:project_id=>@project.id), :class=>"btn-u btn-block fa fa-eur" %>
                         
                        <h3>Odmeny</h3>
                        <% if @project.rewards.any? %>
                        <% @project.rewards.each do |p| %>
                        <div class="people-say margin-bottom-20">
                            <div class="overflow-h">
                                <span><%= p.name %></span>
                                <small class="hex pull-right">suma: <%= p.amount %></small>
                                <p><%= p.about %></p>
                            </div>
                        </div>
                     	<% end %>
                        
                        <% else %>
                        <p> Projekt nemá žiadne odmeny </p>
                        <% end %>
                        <hr>
                        
                    </div>
                </div>
                <!-- End Right Inner -->
            </div>
        </div>
    </div>


