<div class ="alert alert-success fade in alert-dismissable"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><%= t('project.updatemsg') %></div>
<div class ="alert alert-danger fade in alert-dismissable"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><%= t('project.profilepicmsg') %> </div>
<% if (@project.user_id == current_user.id) || (current_user.admin?) %>
<style>
.cropit-preview {
  /* You can specify preview size in CSS */
  width: 800px;
  height: 506px;
}
.hidden {
    display:none;
}
</style>
    <div class="job-description">
        <div class="row">
           
                <!-- Left Inner -->
                
                <div class="col-md-9">
                    <div class="left-inner">
                        <div class="row">
                            <h1 ><%= @project.name %></h1>
                            <br />
                        </div>
                    

                        <% if @project.enabled == false %>
                        <div id="image-cropper">
                            
                             <%= form_for @project, method: :put do |f| %>
                          <div class="cropit-preview" id="cropit-preview"></div>
                          <% if @project.requested == false  %>
                          <div class="rotation-btns"><span class="icon icon-rotate-left rotate-ccw-btn"><i class="fa fa-arrow-left"></i>
                        </span><span class="icon icon-rotate-right rotate-cw-btn"><i class="fa fa-arrow-right"></i>
                        </span></div>
                          <input type="range" class="cropit-image-zoom-input " />
                          <%= f.file_field :profile_pic, accept: "image/jpeg, image/jpg, image/gif, image/png", :class=> "cropit-image-input hidden" %> 
                         <!-- <input type="file" class="cropit-image-input" />-->
                         <div class="btn-u btn-u-yellow" id="uploadTrigger"><i class="fa fa-upload"></i> <%= t('project.selectimg') %></div>
                         <%= button_tag :class=>'btn-u', :onclick=>"getimage()",:type => 'button' do %>
                         <i class="fa fa-check"></i>  <%= t('project.confirmimg') %> <% end %>
                            <% end %>
                            <% end %>
                        </div>
                        <% end %>
                       
                        <div class="row projectborder borderpadding" style="margin-bottom:30px; margin-top: 20px">
                            <h4><%= t('project.annot') %></h4>
                            <p><%= @project.annotation %></p>
                        </div>
                         <div class="tab-v1">
                              <ul class="nav nav-justified nav-tabs">
                                  <li class="active"><a data-toggle="tab" href="#tababout"><%= t('project.aboutproject') %></a></li>
                                  <li><a data-toggle="tab" href="#tabgallery"><%= t('project.gallery') %></a></li>
                                  <li><a data-toggle="tab" href="#tabrewards"><%= t('project.rewards') %></a></li>
                                  </ul>
                              <div class="tab-content">
                                    <div id="tababout" class="profile-edit tab-pane fade in active">
                                        
                                        <div class="row gallery projectborder borderpadding">
                                        
                                        <p><%= raw @project.about %></p>
                                        </div>
                            </div>
                        <div id="tabgallery" class="profile-edit tab-pane fade">
                                                
                    <div class="row  borderpadding">
                    
                        <% @project.pictures.each_slice(2) do |slice_of_two| %>
                       <div class="col-md-12">
                        <% slice_of_two.each_with_index do |pic, index| %>
                        <div class="col-md-6 picgal">
                        <%= link_to image_tag(pic.url(:resized).to_s), pic.url, class: :fancybox %>
                        <% if @project.requested == false  %>
                        <%= link_to content_tag(:i,nil,class: 'fa fa-trash-o'),project_picture_path(@project, index), :method => :delete, data: { confirm: t('project.confirmdelimg') } %>
                        <% end %>
                        </div>
                        <% end %>
                        </div>
                        <% end %>
                        </div>
                         <div class="row gallery borderpadding">   
                    <% if @project.requested == false %>
                    <div class="actions" style="float:left;">
                    <%= form_for @project, url: project_pictures_path(@project), method: :post do |f| %>
                    <%= f.file_field :pictures, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png", :class=>"hidden" %> 
                    <div class="btn-u btn-u-yellow" id="uploadTrigger2"><i class="fa fa-upload"></i>  <%= t('project.selfiles') %></div>
                    <%= f.submit t('project.addfiles'), :class=> 'btn-u', :disabled => "disabled"  %>
                     </div>
                    <% end %>
                   <% end %>
                        
                    </div>
                        </div>
                         <div id="tabrewards" class="profile-edit tab-pane fade">
                        
                        <% if @project.rewards.any? %>
                        <% @project.rewards.order(:amount).each do |p| %>
                        <div class="people-say margin-bottom-20">
                            <div class="overflow-h">
                                <span><%= p.name %></span>
                                <span class="hex pull-right" style="padding-right:3px"><%= t('project.value') %>: <%= p.amount %> <i class="fa fa-eur"></i></span>
                                <p><%= p.about %></p>
                            </div>
                            <hr>
                        </div>
                        <% end %>
                        
                        <% else %>
                        <p> <%= t('project.norewards') %> </p>
                        <% end %>
                    </div>
            
                
                    
                     </div>
                </div>
                </div>
                </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                <div class="col-md-3">
                    <div class="right-inner">
                    	<% if @project.user_id == current_user.id %>
                        <% if @project.requested %>
                        <button class="btn-u btn-u-default btn-block" type="button" disabled><i class="fa fa-spinner"></i> <%= t('project.projectwait') %></button>
                        <button class="btn-u btn-u-default btn-block" type="button" disabled><i class="fa fa-hour"></i> <%= t('project.from') %>: <%= @project.confirmdate.strftime("%d-%m-%Y %H:%M") %></button>
                        
                        <% else %>
                        <%= link_to edit_project_path(@project), :class=>"btn-u btn-block" do %><i class="fa fa-edit"></i>  <%= t('project.edit') %><% end %>
                        <%= link_to project_path(@project), :class=>"btn-u btn-block", method: :delete, :data => {:confirm => t('project.confirmdelpr')} do %><i class="fa fa-trash-o"></i>  <%= t('project.projectdel') %><% end %>
                        <%= link_to new_reward_path(:project_id=>@project.id), :class=>"btn-u btn-block" do %><i class="fa fa-gift"></i>  <%= t('project.addrewards') %><% end %>
                        <div style="margin-top:50px">
                        <%= link_to submitproject_path(@project), :class=>"btn-u btn-block", :data => {:confirm =>t('project.submitmsg')}, method: :post do %><i class="fa fa-check"></i> <%= t('project.sendtoadmin') %> <% end %>
                    </div>
                        <% end %>
                        </hr>
                        <% end %>
                       <div class="row">
                            <h1 style="color:white"><%= t('project.details') %></h1>
                            <br />
                        </div>
                        <div class="row" style="margin-top:60px">
                            
                        <% if @project.user.picture.url(:thumb).present? %>
                                <%= image_tag @project.user.picture.url(:thumb).to_s, :style=>"width:100px" %>
                            <% else %>
                                <img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt="">
                        <% end %>
                            
                       
                        <div class="overflow-h">
                            <span>Autor: <%= @project.user.name %></span>

                            <p class="color-green"><span class="hex"><%=raw %(#{link_to(@project.user.personalweb, url_with_protocol(@project.user.personalweb), :target => '_blank')}) %></span></p>
                           <p><span class="hex"><%= countUserProjects(@project.user_id) %> <%= t('project.projectcountinfo') %></span></p>
                        </div>
                         </div>
                         
                                               
                    </div>
                </div>
                <!-- End Right Inner -->
            </div>
        </div>
    </div>

    <script>
    Circles.create({
                id:         'circle-1',
                percentage: 75 ,
                radius:     80,
                width:      8,
                number:     75 ,
                text:       '%',
                colors:     ['#eee', '#F1C40F'],
                duration:   2000
            })
    </script>

    <script>
    $("#uploadTrigger").click(function(){
   $("#project_profile_pic").click();
        });

    $("#uploadTrigger2").click(function(){
   $("#project_pictures").click();
        });

    $('#image-cropper').cropit({
        imageState: {src: <% if @project.profile_pic.url.present? %> "<%= @project.profile_pic.url(:resized).to_s %>" <% else %> "<%= asset_path( 'img_empty_800.jpg' ) %>" <% end %> }});

        // When user clicks select image button,
        // open select file dialog programmatically
        $('.select-image-btn').click(function() {
          $('.cropit-image-input').click();
        });

        // Handle rotation
        $('.rotate-cw-btn').click(function() {
          $('#image-cropper').cropit('rotateCW');
        });
        $('.rotate-ccw-btn').click(function() {
          $('#image-cropper').cropit('rotateCCW');
        });

        function getimage(){
        var $cropedimage = $('#image-cropper').cropit('export', {
              type: 'image/jpeg',
              quality: .9,
              originalSize: true
            });
        

        function dataURItoBlob(dataURI) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1]);
    else
        byteString = unescape(dataURI.split(',')[1]);

    // separate out the mime component
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
}

    var filedata=dataURItoBlob($cropedimage);


        var fd = new FormData();
        fd.append('data', filedata, "project-" + <%= @project.id %> + "-profile-pic.jpg" );
        fd.append('id', <%= @project.id %>);
           $.ajax({
                    type: "POST",
                    url: "/saveprofilepic",
                    data: fd,
                    processData: false,
                    contentType: false,
                    cache: false                   
                        })
                    .done(function (msg) {
                    alert("Obrázok bol nahratý na server" );
                     });
            };
       

            
                   
        
    </script>
<% else %>
<% controller.redirect_to root_path %>
<% end %>
