<% if current_user.admin? %>
  
<div class="row">
<div class="panel panel-sea margin-bottom-40">
   <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> Platby</h3>
    </div>
  
    <table id="payments" class="table table-striped table-bordered table-hover dataTable">
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Užívateľ</th>
      <th>Suma</th>
      <th>Variabilný symbol</th>
      <th>Odmena</th>
      <th>Dátum platby</th>
      <th>Potvrdená administrátorom</th>
      <th>Dátum potvrdenia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |p| %>
      <tr>
        <td><% if p.project.name.empty? %>Projektu chýba meno <% else %><%= link_to p.project.name, "/showproject/#{p.project.id}" %><% end %></td>
        <td><%= p.user.name %></td>
        <td><%= p.amount %></td>
        <td><%= p.created_at.strftime("%Y") %><%= p.id %></td>
        <td><% if p.reward.nil? %>Žiadna odmena<% else %> <%= p.reward.name %><% end %></td>
        <td><%= p.created_at %></td>
        <td><%if p.confirmed? %>Áno<% else %> Nie<% end %></td>
        <td><% if p.updated_at == p.created_at %><%else %><%= p.updated_at %><%end %></td>
        <td><%= link_to "Detaily príspevku", "/invoice/#{p.id}"  %></td>
        <td><%if p.confirmed? %>Platba potvrdená<% else %><%= link_to "Potvrď platbu", "/confirmpayment/#{p.id}", method: :post %><% end %></td>
        <td><%= link_to "Zmaž platbu", p, method: :delete, data: { confirm: 'Si si naozaj istý, že chceš zmazať túto platbu?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
</div>

  <% else %>
    <% controller.redirect_to root_path %>
  <% end %>
