<% if (@payment.user_id == current_user.id) || (current_user.admin?) %>
<div class ="alert alert-success fade in alert-dismissable"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button><%= t('payments.invoice.confirm') %></div>
<!--Invoice Header-->
        <div class="row invoice-header">
            <div class="col-xs-6">
                <img src="assets/img/img.jpg" alt="">
                <!-- You also can use a title instead of image
                <h2 class="pull-left">Product Invoice</h2>
                -->
            </div>
            <div class="col-xs-6 invoice-numb">
                #<%= @payment.id %> / <%= @payment.created_at %>
                <span>OZ Help4People</span>
            </div>
        </div>
        <!--End Invoice Header-->

        <!--Invoice Detials-->
        <div class="row invoice-info">
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3">
                    <h2>Platiaci:</h2>
                    <ul class="list-unstyled">
                        <li><strong>Meno:</strong> <%= @payment.user.name %></li>
                        <li><strong>Adresa:</strong> <%= @payment.user.street %>, <%= @payment.user.city %></li>
                        <li><strong>PSČ:</strong> <%= @payment.user.zip %></li>
                        <li><strong>Krajina:</strong> <%= @payment.user.country %></li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3">
                    <h2>Prijímajúci platbu:</h2>
                    <ul class="list-unstyled">
                        <li><strong>Support Your Dream</strong></li>
                        <li><strong>Meno:</strong> Občianske združenie Help4People</li>
                        <li><strong>IBAN#:</strong> SK00900001452648470251</li>
                        <li><strong>Variabilný symbol#:</strong> <%= @payment.created_at.strftime("%Y") %><%= @payment.id %></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Invoice Detials-->

        <!--Invoice Table-->
        <div class="panel panel-default margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title">Detaily príspevku</h3>
            </div>
            <div class="panel-body">
                <p>Ďakujeme za tvoj príspevok na projekt <strong><%= @payment.project.name %></strong> v sume <strong><%= @payment.amount %></strong>. Po uhradení platby na náš účet s variabilným symbolom <strong><%= @payment.created_at.strftime("%Y") %><%= @payment.id %></strong> bude príspevok pripísaný ku projektu a zároveň zaznamenaný na tvojom profile. </p>
            </div>
            <table class="table table-striped invoice-table">
                <thead>
                    <tr>
                       
                        <th>Projekt</th>
                        <th class="hidden-sm">Popis</th>
                        <th>Odmena</th>
                        <th>Suma</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td><%= @payment.project.name %></td>
                        <td class="hidden-sm"><%= @payment.project.annotation %></td>
                        <td><% if @payment.reward.nil? %>Žiadna odmena<% else %> <%= @payment.reward.name %><% end %></td>
                        <td><%= @payment.amount %></td>
                        
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <!--End Invoice Table-->

        <!--Invoice Footer-->
        <div class="row">
            <div class="col-xs-6">
                <div class="tag-box tag-box-v3 no-margin-bottom">
                    <address class="no-margin-bottom">
                        OZ Help4People <br>
                        Riazanská 46 <br>
                        831 03 Bratislava <br>
                        Slovensko <br>
                        Email: <a href="mailto:mail@help4people.sk">mail@help4people.sk</a>
                    </address>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <ul class="list-unstyled invoice-total-info">
                  </br>
                  <li><strong>Príspevok:</strong> <%= @payment.amount %> <i class="fa fa-eur"></i></li>
                  </br></br></br>
                </ul>
                <button class="btn-u sm-margin-bottom-10" onclick="javascript:window.print();"><i class="fa fa-print"></i> Vytlač</button>
                
            </div>
        </div>
        <!--End Invoice Footer-->
<% else %>
<% controller.redirect_to root_path %>
<% end %>