<div class="row" >

<%= form_for(@payment, html: {:class => "sky-form"}) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12" style="height:150px;">
  </div>
  <div class="col-md-3" >
  </div>
  <div class="col-md-6" style="height:450px;">
    <% if Reward.where('project_id=?',params[:project_id]).all.present? %>
    <label class="select">
  <%= f.select :reward_id, Reward.where('project_id=?',params[:project_id]).all.collect { |r| [ r.name, r.id ] }, {include_blank: 'Nechcem odmenu za príspevok'},{:class => 'form-control m-b', data: {remote: true,url: url_for( action: :show_reward_desc, id: params[:reward_id]) } } %>
      </label>
      <% end %>
      <div class="col-md-3" id="about_reward_div"></div>
  <label class="input">
              <%= f.number_field :amount, :placeholder=>'Suma ktorou chceš prispieť' %>
              <b class="tooltip tooltip-bottom-right">Zvoľ si sumu, ktorou chceš prispieť na tento projekt </b>
        </label>
 
 <p>Pre projekt <%= findProject(params[:project_id]).name %></p>
 <div class="headline"><h2>Kontakt</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
					<li><a href="#"><i class="fa fa-user"></i><%= current_user.name %></a></li>
                    <li><a href="#"><i class="fa fa-home"></i><%= current_user.street %></a></li>
                    <li><a href="#"><i class="fa fa-home"></i><%= current_user.city %>, <%= current_user.zip %></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i><%= current_user.email %></a></li>
                    
                    
                </ul>  
    

<%= f.hidden_field :project_id, :value => params[:project_id] %>
<%= f.hidden_field :user_id, :value => current_user.id %>      
<%= f.hidden_field :confirmed, :value => '0' %>


<div class="control-group">
 <div class="actions">
    <center><%= f.submit "Pokračuj", :class=> 'btn-u' %></center>
  </div>
<% end %>
</div>
</div>

</div>