<div class="row" >
  <div class="col-md-12" style="padding-bottom:20px; margin-top:-30px">
    <h3><center> <%= findProject(params[:project_id]).name %></center></h3>

  </div>

<%= form_for(@payment, html: {:class => "sky-form"}) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-12" >

  </div>
  <div class="col-md-3" >
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
    <div class="headline"><h2><%= t('payments.new.supporter') %></h2></div>
                <ul class="list-unstyled who margin-bottom-30">
          <li><a href="#"><i class="fa fa-user"></i><%= current_user.name %></a></li>
                    <li><a href="#"><i class="fa fa-home"></i><%= current_user.street %></a></li>
                    <li><a href="#"><i class="fa fa-home"></i><%= current_user.city %>, <%= current_user.zip %></a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i><%= current_user.email %></a></li>
                    
                    
                </ul> 
      </div>
  </div>
  <div class="col-md-6" style="height:450px;">
    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
   
  <label class="input" id="pamount">
              <%= f.number_field :amount, :placeholder=> t('payments.new.amount'), :style=>"-moz-appearance:textfield;", :required=> true, :value =>  getRewardAmount(params[:reward_id])  %>
              <b class="tooltip tooltip-bottom-right"><%= t('payments.new.choose') %> </b>
        </label>
 
 
  
    

<%= f.hidden_field :project_id, :value => params[:project_id] %>
<%= f.hidden_field :user_id, :value => current_user.id %>      
<%= f.hidden_field :confirmed, :value => '0' %>
<% if params[:reward_id].present? %>
<%= f.hidden_field :reward_id, :value => params[:reward_id] %>
<% end %>


<div class="control-group">
 <div class="actions">
    <center><%= f.submit t('payments.new.support') , :class=> 'btn-u', data: {confirm: t('payments.new.confirm')} %>
    <%= link_to t('payments.new.nosupport'), :back, :class=> 'btn-u btn-u-red' %></center>
  </div>
<% end %>
</div>
</div>
</div>

<% if @reward.present? %>
<div class="col-md-3 col-sm-6">
<div class="pricing">
                    <div class="pricing-head"  style="min-height: 50px">
                        <h3><%= @reward.name %> </h3>
                        <h4><i class="fa fa-eur"></i><%= @reward.amount %> </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-shopping-cart"></i> <%= t('payments.new.rewardcount') %>: <%= countRewardsBought(@reward.id) %></li>
                        
                    </ul>
                    <div class="pricing-footer">
                        <p ><%= @reward.about %></p>
                        
                  </div>
                </div>
              </div>
<% else %>
<div class="col-md-3 col-sm-6">
<div class="pricing">
                    <div class="pricing-head"  style="min-height: 50px">
                        <h3><%= t('payments.new.noreward') %> </h3>
                        <p><%= t('payments.new.youchoose') %> </p>
                    </div>
                   
                    <div class="pricing-footer">
                   
                        
                  </div>
                </div>
              </div>
<% end %>


</div>

<script>

$('form').validate({
    lang: 'sk',
    rules: {
      'payment[amount]': {
        min: <%= getRewardAmount(params[:reward_id]) %>
      }
    },
    highlight: function(element) {
      $(element).parent().addClass('state-error');
    },
    unhighlight: function(element) {
      $(element).parent().removeClass('state-error');
    }
  });


</script>