<% if @project.rewards.present? %>
 <div class="tag-box tag-box-v1 box-shadow shadow-effect-2" style="padding-bottom: 50px">
    <span class="pull-left"><%= t('payments.selectrw.noreward') %></span>
      <span class="pull-right"><%= link_to t('payments.selectrw.continue'), new_payment_path(:project_id=>@project.id), :class=>"btn-u btn-block" %></span>

</div>

<% @project.rewards.order(:amount).each_slice(4) do |slice| %>
 <div class="row no-space-pricing pricing-zoom" style="padding-bottom: 50px">
          <% slice.each do |r| %>

 
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head"  style="min-height: 50px">
                        <h3><%= r.name %> </h3>
                        <h4><i class="fa fa-eur"></i><%= r.amount %> </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-shopping-cart"></i> <%= t('payments.new.rewardcount') %>: <%= countRewardsBought(r.id) %></li>
                        
                    </ul>
                    <div class="pricing-footer">
                        <p ><%= r.about %></p>
                        <%= link_to  new_payment_path(:project_id=>@project.id, :reward_id=>r.id), :class=>"btn-u" do %>
                        <i class="fa fa-gift"> <%= t('payments.selectrw.continue') %> </i>
                        <% end %>
                  </div>
                </div>
            </div>
            <% end %>
       </div><!--/row-->
       <% end %>
<% else %>
<% controller.redirect_to new_payment_path(:project_id=>@project.id) %>

<% end %>