<div class="container content profile">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <% if @user.picture.url(:resized).present? %>
      <center><%= image_tag @user.picture.url(:resized).to_s %></center>
      <% else %>
      <center><img class="img-responsive profile-img margin-bottom-20" src="<%= asset_path( 'user-avatar.png' ) %>" alt=""></center>
      <% end %>
      </br></br>
              <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                  
                    <%= link_to '<i class="fa fa-cog"></i> Nastavenia profilu'.html_safe, edit_user_registration_path, :class=>"list-group-item" %>
                    <%= link_to '<i class="fa fa-cubes"></i> Moje projekty'.html_safe, userprojects_path, :class=>"list-group-item" %>
                    <%= link_to '<i class="fa fa-money"></i> Moje príspevky'.html_safe, userpayments_path, :class=>"list-group-item" %>
                    
                    
              </ul>
    </div>
    <div class="col-md-9">
     <div class="profile-body">
      <% if @payments.empty? %>
        <p>Ešte si na žiaden projekt neprispel</p>
        <% else %>
        <div class="row">
<div class="panel panel-sea margin-bottom-40">
   <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> Moje príspevky</h3>
    </div>
  
    <table id="userpayments" class="table table-striped table-bordered table-hover dataTable">
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Moj príspevok</th>
      <th>Odmena</th>
      <th>Prijatá platba</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |p| %>
      <tr>
        <td><%= link_to p.project.name, "/showproject/#{p.project.id}" %></td>
        <td><%= p.amount %> <i class="fa fa-eur"></i></td>
        <td><% if p.reward.nil? %>Žiadna odmena<% else %> <%= p.reward.name %><% end %></td>
        <td><% if p.confirmed? %>Áno<% else %> Nie<% end %></td>
        <td><%= link_to "Detaily príspevku", "/invoice/#{p.id}"  %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
</div>
<% end %>
     </div>

    </div>
  </div>
</div>