<% if current_user.admin? %>
<%= form_for(@category, html: {:class => "sky-form"}) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md3">
  </div>
  <div class="col-md6">
    <dd>
     <section>
         <label class="input">
              <%= f.text_field :name, :placeholder=>'SK Názov kategórie' %>
          </label>
        </section>
   </dd>
  
     <dd>
     <section>
         <label class="input">
              <%= f.text_field :name_en, :placeholder=>'EN Názov kategórie' %>
          </label>
        </section>
   </dd>

    <dd>
     <section>
         <label class="input">
              <%= f.text_field :name_cs, :placeholder=>'CS Názov kategórie' %>
          </label>
        </section>
   </dd>

       <dd>
     <section>
         <label class="input">
              <%= f.text_field :name_pl, :placeholder=>'PL Názov kategórie' %>
          </label>
        </section>
   </dd>

  <dd>
     <section>
         <label class="input">
              <%= f.text_field :name_hu, :placeholder=>'HU Názov kategórie' %>
          </label>
        </section>
   </dd>

   <div class="actions">
    <%= f.submit "Vytvor/uprav kategóriu", :class=> 'btn-u' %>
    <%= link_to "Späť", @category, :class=> 'btn-u btn-u-red' %>
  </div>

  
<% end %>
</div>
<% else %>
    <% controller.redirect_to root_path %>
  <% end %>
