<!--=== Header ===-->
<div class="header" >
    <!-- Topbar -->
    <div class="container">

        <div class="topbar" >
            
        <!--logo-->
         <%= link_to image_tag("logo_d_white.png",size: "180x62", :alt => "SupportYourDream Logo", :class => "logo" ), root_path %>     
        <!-- logo end -->
        
           <ul class="loginbar pull-right">

                  
                    <% if user_signed_in? %>
                    <li class="hoverSelector">
                        <a>
                            Profil
                        </a>
                    <ul class="languages hoverSelectorBlock">
                    <%= content_tag(:li, link_to(current_user.email, edit_user_registration_path)) %>
                    <%= content_tag(:li, link_to('Logout', destroy_user_session_path, method: :delete)) %>
                    
                    </ul>
                    </li>
                    <% else %>
                    <li class="cd-log_reg"><a class="cd-signin" href="#">Login/Register</a></li>
                    <% end %>
                </ul>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
    </div>
    
    <!--  End Topbar -->

    <!-- Navbar -->

    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse" style="margin-top: -60px; z-index:999">
    <!--<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">-->
    <!--<div class="navbar navbar-default mega-menu" role="navigation">-->
       <div class="container">

                <ul class="nav navbar-nav" >
                   
                    <!-- Home -->
                    <%= content_tag(:li, link_to('Úvod', root_path)) %>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Projekty
                        </a>
                        <ul class="dropdown-menu">
                            <%= content_tag(:li, link_to('Založiť nový projekt', project_terms_url)) %>
                            <li><a href="index.html">Úspešne ukončené kampane</a></li>
                            <!-- One Page -->
                                                       
                            
                        </ul>
                    </li>
                    <%= content_tag(:li, link_to('Najčastejšie otázky', faq_path)) %>
                    <%= content_tag(:li, link_to('O nás', about_url)) %>

                    <% if user_signed_in? && current_user.admin? %>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            Administrácia
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/adminpage">Projekty</a></li>
                            <li><a href="/categories">Kategórie</a></li>
                            <li><a href="index.html">Úspešne ukončené kampane</a></li>
                        </ul>
                    </li>
                   
                    <% end %>
                     <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="fa fa-globe"></i> 
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Slovenský</a></li>
                            <li><a href="index.html">English</a></li>
                            <li><a href="index.html">Český</a></li>
                            <li><a href="index.html">Polsky</a></li>
                            <li><a href="index.html">Magyar</a></li>
                        </ul>
                    </li>
                </ul>
          </div>
    </div>

    
    <!-- End Navbar -->
</div>
<!--=== End Header ===-->
