<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
            <ul class="cd-switcher">
                <li><a href="javascript:void(0);">Prihlás</a></li>
                <li><a href="javascript:void(0);">Registruj</a></li>
            </ul>

            <div id="cd-login"> <!-- log in form -->
                
                    <%= form_for(:user, :url => session_path(:user), :html => { :class => "cd-form"}) do |f| %>
                    <p class="social-login">
                        <span class="social-login-facebook"><%= link_to user_omniauth_authorize_path(:facebook) do %><i class="fa fa-facebook"></i> Facebook<% end %></span>
                       
                        <span class="social-login-google"><%= link_to user_omniauth_authorize_path(:google_oauth2) do %><i class="fa fa-google"></i> Google<% end %></span>

                        
                        
                    </p>
                    <div class="lined-text"><span>Alebo použi svoj účet na Support Your Dream</span><hr></div>

                      <p class="fieldset">
                       <%= f.label :name, 'Email', :class => 'image-replace cd-username' %>
                       <%= f.text_field :email, :class => 'full-width has-padding has-border', :placeholder => 'Email' %>
                   </p>
                       <p class="fieldset">
                        <%= f.label :name, 'Heslo', :class => 'image-replace cd-password' %>
                        <%= f.password_field :password, :class => 'full-width has-padding has-border', :placeholder => 'Heslo' %>
                    </p>
                       <p class="fieldset"><%= f.check_box :remember_me %>
                      <%= f.label :name, 'pamätaj si ma' %></p>
                      <%= f.submit 'Prihlás sa', :class=>'full-width has-padding', :style=>"background-color:rgba(38,184,157,0.8)" %>
                    <p class="cd-form-bottom-message">  <%= link_to "Zabudol si heslo?", new_password_path(:user) %><p>
                    <% end %>
                   
                <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
            </div> <!-- cd-login -->

            <div id="cd-signup"> <!-- sign up form -->

                <%= form_for(:user, :url => registration_path(:user), :html => { :class => "cd-form"}) do |f| %>
                    <p class="social-login">
                        <span class="social-login-facebook"><%= link_to user_omniauth_authorize_path(:facebook) do %><i class="fa fa-facebook"></i> Facebook<% end %></span>
                        <span class="social-login-google"><%= link_to user_omniauth_authorize_path(:google_oauth2) do %><i class="fa fa-google"></i> Google<% end %></span>
                        
                    </p>
                    <div class="lined-text"><span>Alebo vytvor svoj účet na Support Your Dream</span><hr></div>

                      <p class="fieldset">
                       <%= f.label :name, 'Email', :class => 'image-replace cd-username' %>
                       <%= f.text_field :email, :class => 'full-width has-padding has-border', :placeholder => 'Email' %>
                   </p>
                       <p class="fieldset">
                        <%= f.label :name, 'Heslo', :class => 'image-replace cd-password' %>
                           <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> znakov minimálne)</em>
                            <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", :class => 'full-width has-padding has-border', :placeholder => 'Heslo' %>
                    </p>
                        <p class="fieldset">
                          <%= f.label :name, 'Potvrď heslo', :class => 'image-replace cd-password' %>
                          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'full-width has-padding has-border', :placeholder => 'Potvrď heslo' %>   
                        </p>
                       <!--<p class="fieldset">
                        <input type="checkbox" id="accept-terms">
                        <label for="accept-terms">Súhlasím s <a href="page_terms.html">podmienkami</a></label>
                    </p>-->
                      <%= f.submit 'Registruj', :class=>'full-width has-padding', :style=>"background-color:rgba(38,184,157,0.8)" %>
                    
                    <% end %>
                    
                    <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
            </div> <!-- cd-signup -->

            <div id="cd-reset-password"> <!-- reset password form -->
                <p class="cd-form-message">Zabudol si heslo? Vyplň svoju emailovú adresu a o chvíľku obdržíš email s ďalšími inštrukciami.</p>

                
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class=>"cd-form" }) do |f| %>
                  <%= devise_error_messages! %>

                  <p class="fieldset">
                    <%= f.label :email, :class=>"image-replace cd-email" %><br />
                    <%= f.email_field :email, autofocus: true, :class=>"full-width has-padding has-border", :placeholder=>"E-mail" %>
                  </p>

                  <p class="fieldset">
                    <%= f.submit "Reset Hesla", :class=>"full-width has-padding" %>
                  </p>
                <% end %>

                <p class="cd-form-bottom-message"><a href="javascript:void(0);">Back to log-in</a></p>
            </div> <!-- cd-reset-password -->
            <a href="javascript:void(0);" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
    </div>
    </div> <!-- cd-user-modal -->