<!DOCTYPE html>
<html>
<head>
  <title>Support Your Dream</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">

       		
       		 <%= render 'layouts/header' %>
           <%= render 'layouts/slider' if (current_page?(root_path) || current_page?("/")) %>
    		
            <div class="container content-md">
                <%= yield %>
            </div>
            <!-- Footer -->
            <%= render 'layouts/footer' %>
            <%= render 'layouts/modal' %>

    </div>

</body>
</html>
